// Common Utilities
@mixin remove-after-before {
  &::before,
  &::after {
    display: none;
  }
}

// Flex
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  align-items: start;
}
@mixin flex-end {
  display: flex;
  align-items: end;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-center-wrap {
  @include flex-center;
  flex-wrap: wrap;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-center {
  @include flex-column;
  align-items: center;
}

// Grid
@mixin grid-column($column) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
}
@mixin grid-column-gap($column, $gap) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  gap: $gap;
}
@mixin grid-column-gap-individual($column, $columnGap, $rowGap) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  column-gap: $columnGap;
  row-gap: $rowGap;
}

// Side margin auto
@mixin auto-margin-side {
  margin-left: auto;
  margin-right: auto;
}
@mixin auto-margin-side-width($width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

// Text ellipse
@mixin line-elpsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Typography Specific
@mixin typography($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin typography-important($font-size, $line-height) {
  font-size: $font-size !important;
  line-height: $line-height !important;
}

// Gradient Text
@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Image Specific
@mixin cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
