// Colours
$black: #000000;
$white: #ffffff;
$grey: #ededed;
$grey-2: #f6f7f8;
$violate: #8c6fe6;
$dark-blue: #072635;

// Font Weight
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

// Utilities
$transition-fast: 350ms all ease;
$transition: 550ms all ease;
$transition-slow: 750ms all ease;

// Breakpoints
$breakpoint-xlg: 1440px;
$breakpoint-lg: 1199px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 543px;

// Toothsi Theme Variables
// Font
$toothsi-font: "Manrope";
